@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
}

@mixin formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

@mixin cancleBtn {
  cursor: pointer;
  background-color: #ef5350;
}

@mixin container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

@mixin addPhotoLabel {
  color: #04aaff;
  cursor: pointer;

  span {
    margin-right: 10px;
    font-size: 12px;
  }
}

@mixin attachmentImage {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
}

@mixin attachmentClear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}
